.list-input-wrapper {
	background-color: var(--surface-main);
	height: 70px;
	width: 100%;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.list-input {
	border-radius: 4px;
	height: 100%;
	padding-left: 38px;
	color: unset;
	background-color: var(--surface-card);
	font-size: 14px;
}

.list-input-wrapper>div {
	position: absolute;
	left: 20px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1;
}

.modify-exercise-buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	width: 100%;
	padding-top: 2px;
}

.category-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: 100%;
	gap: 1px;
	background-color: var(--surface-border);
	position: relative;
	isolation: isolate;
	border-radius: 8px;
	overflow: hidden;
}

.category-item {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 25px;
	background-color: var(--surface-main);
	color: var(--text-muted);
	transition: color 250ms ease;
}

.active-pill {
	position: absolute;

	width: calc(50% - (var(--pill-pad) * 2) - 0.5px);
	height: calc(50% - (var(--pill-pad) * 2) - 0.5px);

	top: var(--pill-pad);
	left: var(--pill-pad);
	z-index: 2;

	background: var(--surface-main-light);
	border: 1px solid var(--action-primary);
	border-radius: 8px;
	pointer-events: none;

	will-change: transform;
}

.label-group {
	display: flex;
	flex-direction: column;
	gap: 2px;
	pointer-events: none;
	/* Ensure clicks go to parent item */
}

.index-number {
	font-size: 11px;
	font-weight: 600;
	opacity: 0.5;
	letter-spacing: 0.05em;
}

.category-name {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.02em;
}

.category-item.active {
	color: var(--text-primary);
}

.icon-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.8;
}

.exercise-item {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
}

.exercise-item .name-display {
	display: flex;
	flex-direction: column;
	color: var(--text-main);
	letter-spacing: 0.1ch;
}

.exercise-item .name-subheader {
	font-size: 11px;
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--text-muted);
	letter-spacing: 0;
}

.exercise-category-divider {
	font-size: 18px;
	color: var(--text-primary);
	display: flex;
	align-items: center;
	gap: 5px;
	font-weight: 700;
	letter-spacing: 0.075ch;
}

.exercise-category-divider * {
	height: 18px;
	aspect-ratio: 1;
}
