.chart {
	width: 100%;
	height: 100%;
	min-height: 200px;
	position: relative;
	background-color: var(--color-dark);
	border-radius: 10px;
	padding-bottom: 2px;
}

.tick {
	font-size: 11px;
	text-anchor: "middle";
	fill: color-mix(in srgb, var(--color-text), transparent 30%);
	font-weight: 600;
}
