.list-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 1 auto;
	overflow: hidden;
	border-radius: 8px;
	width: 100%;
	min-height: 0;
	background-color: var(--surface-main);
}

.input-wrapper {
	width: 100%;
	padding: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-bottom: 1px solid var(--surface-border);
}

.input-wrapper input {
	border-radius: 4px;
	height: 100%;
	padding-left: 38px;
	color: unset;
	background-color: var(--surface-card);
	font-size: 16px;
	padding: 10px 10px 10px 38px;
}

.input-wrapper>div {
	position: absolute;
	left: 15px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1;
}

.list-scrollable {
	transform: translateZ(0);
	flex: 1 1 auto;
	min-height: 0;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overscroll-behavior-y: auto;
	min-height: auto;
	width: 100%;
	font-weight: 600;
	letter-spacing: 0.05ch;
	color: var(--text-muted);
}

.list-scrollable .no-items,
.list-scrollable .item {
	height: 55px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--surface-border);
	width: 100%;
	padding-left: 20px;
	padding-right: 30px;
	font-weight: 800;
	font-size: 14px;

}

.list-scrollable .no-items:first-child,
.list-scrollable .item:last-child,
.list-scrollable:last-child {
	border-bottom: 1px solid transparent;
}
