.swiper-wrapper {
	display: flex;
	transition-property: transform;
}

.swiper-container {
	position: relative;
	width: 100%;
	display: flex;
	height: 100%;
}

.swiper-slide {
	flex-shrink: 0;
	position: relative;
	padding: 10px 10px 0 10px;

	contain: layout style;
	transform: translate3d(0, 0, 0);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;

	content-visibility: auto;
	contain-intrinsic-size: 100dvh 100dvw;
}

.swiper-inner {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 100%;
}

.paginator-display {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.paginator-display>div {
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	height: 3px;
	width: 10px;
	background-color: var(--color-border-strong);
	border-radius: 50px;
	transition: 300ms ease;
}

.swiper-slide:not(.swiper-slide-active) {
	pointer-events: none;
}
