.manage-buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	margin-top: 10px;
	gap: 10px;
}

.manage-buttons>div {

	display: flex;
	flex-direction: column;
	gap: 6px;

	flex: 0 1 auto;

	padding: 10px;
	border-radius: 20px;

	max-height: 100%;
	min-height: 0;

	flex-shrink: 0;

	background-color: rgba(14, 14, 17, 1);
	border: 1px solid var(--color-border);
	justify-content: center;
	position: relative;
}


.manage-buttons>div .title {
	font-weight: 700;
	font-size: 15px;
	margin-bottom: -8px;
	letter-spacing: 0.075ch;
}

.manage-buttons>div .sub-title {
	color: var(--text-dim);
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.05ch;
	margin-top: 2px;

}

.exercises-display {
	transform: translateZ(0);
	backface-visibility: hidden;
	flex: 1 1 auto;
	min-height: 0;
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	overflow-y: auto;
	overscroll-behavior-y: auto;
	min-height: auto;
	width: 100%;
	border-bottom: 1px solid var(--color-border);

}

.manage-buttons>div>div {
	position: absolute;
	top: 10px;
	right: 10px;
}


.action-buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	gap: 10px;
	margin-top: 5px;
}

.settings-option-header {
	background-color: var(--color-bg);
	border-top: 1px solid var(--color-border);
	padding: 5px 15px;
	padding-bottom: 0;
	margin-bottom: -15px;
	font-weight: 600;
	color: var(--text-dim);
	z-index: 9;
	display: flex;
	align-items: center;
	gap: 5px;
}

.logout-button {
	--border-width: 2px;
	--radius: 10px;

	position: relative;
	border-radius: var(--radius);
	box-shadow: 0 0 10px color-mix(in srgb, var(--color-error), transparent 90%);

	margin: 10px;
	margin-top: auto;
	height: 56px;
	width: calc(100% - 20px);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	color: var(--color-error);

	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.075ch;
}


.logout-button::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: var(--radius);
	padding: var(--border-width);

	background: radial-gradient(circle at 0% 0%, #ff8597, var(--color-error) 30%, #ff4763 100%);

	/* 2. Create a mask that covers everything EXCEPT the padding area */
	mask: linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);

	-webkit-mask: linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}

.manage-icon {
	position: absolute;
	right: 15px;
	top: 15px;
}

.manage-icon>* {
	width: 80px;
	height: 80px;
	stroke-width: 0.75px;
	color: rgb(34, 38, 44);
	color: rgb(34, 38, 44);
}

.manage-expand-icon {
	margin-left: auto;
}

.manage-expand-icon>* {
	width: 40px;
	height: 40px;

}

.manage-button-description {
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.05ch;
}
