.exercise-toggle-container {
	border-radius: 16px;
	background-color: var(--color-dark);
	margin-top: 4px;
	width: 75%;
}

.exercise-toggle-container .tab-list {
	display: flex;
	list-style: none;
	margin: 0;
	position: relative;
	padding: 6px;
}

.exercise-toggle-container .tab-item {
	flex: 1;
	height: 44px;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--text-dim);
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.075ch;
	-webkit-tap-highlight-color: transparent;
}

.exercise-toggle-container .tab-item.active {
	transition: color 0.3s ease;
	color: #000;
}

.exercise-toggle-container .active-indicator {
	position: absolute;
	inset: 0;
	border-radius: 10px;
	z-index: 1;

	background: radial-gradient(circle at 0% 0%, #acacff, var(--color-primary) 30%, #7070ff 100%);
	box-shadow: 0 0 4px color-mix(in srgb, var(--color-primary), transparent 70%);
}

.exercise-variable-content-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 0;
	width: 100%;
	position: relative;
}

.exercise-variable-content-container>div {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
}

.sets-container {
	flex: 0 1 auto;
	overflow-y: auto;
	min-height: 0;
	width: 100%;
}

.set-container {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 30px repeat(2, 1fr) 45px;
	align-items: center;
	grid-auto-rows: 60px;
	margin-block: 5px;
	background-color: var(--color-dark);
	border-radius: 10px;
	padding: 0 10px;
	gap: 8px;
}

.set-container>* {
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.set-container .set-number {
	font-size: 18px;
	font-weight: 800;
	color: var(--color-primary);
	text-shadow: 0 0 15px color-mix(in srgb, var(--color-primary), transparent 50%);
}

.set-container::before {
	content: "";
	position: absolute;
	height: 80%;
	bottom: 10%;
	width: 1px;
	left: 0px;
	background: linear-gradient(transparent,
			color-mix(in srgb, var(--color-primary), transparent 0%), transparent);
}

.set-container .set-delete {
	font-size: 20px;
	width: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: color-mix(in srgb, var(--color-error), transparent 95%);
	border: 1px solid color-mix(in srgb, var(--color-error), transparent 95%);
	color: var(--color-error);
	box-shadow: 0 0 10px color-mix(in srgb, var(--color-error), transparent 95%);
}

.set-container input {
	font-size: 18px;
	width: 55px;
	color: var(--color-text);
	font-weight: 700;
	padding: 2px;
	text-align: center;
	border-radius: 0;
	border: 1px solid transparent;
	background-color: transparent;
	height: 60px;
}

.set-container input:focus {
	outline: none;
	border: 1px solid var(--color-primary);
	background-color: var(--color-dark);
	padding: 6px;
	border-radius: 4px;
	height: 46px;
}

.set-container input::placeholder {
	color: var(--color-border-strong);
}

.set-container .input-wrapper {
	position: relative;
	display: inline-block;
}

.set-container .input-wrapper::before {
	content: "";
	position: absolute;
	top: calc(50% + 11px);
	left: 10%;
	width: 80%;
	height: 1px;
	background-color: var(--color-border-strong);
}


.set-container .set-weight,
.set-container .set-reps {
	color: var(--text-dim);
	gap: 5px;
	font-weight: 600;
	font-size: 14px;
}
