body {
	--color-text: rgba(180, 190, 255, 1);
	--color-primary: rgba(143, 150, 255, 1);
	--color-error: #ff6e84;
	--color-neutral: rgb(130, 130, 150);
	--color-border-strong: rgba(53, 53, 63, 0.8);
	--box-shadow: 0 0 10px #0008;
	--text-dim: rgba(110, 110, 130, 1);
	--color-bg: #0c0e12;
	--color-yellow: rgba(255, 242, 157, 1);
	--color-card: #15171d;
	--color-dark: var(--color-bg);
	--color-border: color-mix(in srgb, var(--color-card), #fff 4%);

	--font-main: 'Manrope Variable', 'Manrope', -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji';
	font-family: var(--font-main);

	color: var(--color-text);
	background-color: var(--color-bg);

	background-image:
		url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='-6 -2 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='1' fill='white' fill-opacity='0.075'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-repeat: repeat, no-repeat, no-repeat, no-repeat;
	position: fixed;
	inset: 0;
	overscroll-behavior-x: none;
	overscroll-behavior-y: none;
	font-size: 14px;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	overscroll-behavior-x: none;
	overscroll-behavior-y: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


h1 {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;

	font-size: 16px;
	font-weight: 800;
	letter-spacing: 0.110ch;

	gap: 2px;
	text-shadow: 0 0 6px color-mix(in srgb, var(--color-primary), transparent 75%)
}

h2 {
	color: var(--text-dim);
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 0.07ch;
	margin: 0;
	padding: 0;
	width: 100%;
}

input {
	width: 100%;
	padding: 15px;
	font-size: 16px;
	border-radius: 8px;
	outline: none;
	border: none;
	background-color: rgba(22, 22, 26, 0.5);
	font-weight: 500;
	letter-spacing: 0.05ch;
	color: var(--color-text);
	border: 1px solid transparent;
}

input::placeholder {
	color: var(--text-dim);
}

input:focus {
	border-color: color-mix(in srgb, var(--color-primary), transparent 30%);
	box-shadow: 0 0 8px color-mix(in srgb, var(--color-primary), transparent 80%);
}

.clickable {
	transition: scale 300ms ease;
	cursor: pointer;
}

.clickable:active {
	scale: 0.98;
}

.splash-screen {
	position: fixed;
	inset: 0;
	z-index: 100;

	color: var(--color-primary);
	font-family: var(--font-main);
	font-size: 30px;
	font-weight: 800;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0 0 20px color-mix(in srgb, var(--color-primary), transparent 50%);
}

.splash-screen>div {
	transform: translateY(-50%);
}

.page {
	width: 100%;
	height: 100%;
	max-height: 100%;
}


.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;

	border-radius: 5px;
	width: 100%;
	height: 50px;

	color: #000;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.075ch;
	background: radial-gradient(circle at 0% 0%, #acacff, var(--color-primary) 30%, #7070ff 100%);

	cursor: not-allowed;
	transition: 0.3s ease;
	-webkit-tap-highlight-color: transparent;
	box-shadow: 0 0 10px color-mix(in srgb, var(--color-primary), transparent 70%);

	flex-shrink: 0;
}

.button.disabled {
	background: var(--color-bg);
	box-shadow: none;
	color: var(--text-dim);
}

.button.neutral {
	position: relative;
	background: none;
	color: var(--color-text);
	box-shadow: none;
}

.button.neutral::after {
	content: "";
	position: absolute;

	--border-width: 2px;
	--radius: 5px;

	inset: 0;
	border-radius: var(--radius);
	padding: var(--border-width);

	background: radial-gradient(circle at 0% 0%, #acacff, var(--color-primary) 30%, #7070ff 100%);

	mask: linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);

	-webkit-mask: linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
	z-index: 10;
}

.app-container {
	position: fixed;
	inset: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 30px 95px;
	contain: strict;
}

.app-container>* {
	flex-shrink: 0;
	overflow: hidden;
	max-height: 100%;
}

.card {
	display: flex;
	flex-direction: column;
	padding: 12px;
	border-radius: 10px;

	max-height: 100%;
	min-height: 0;

	background-color: var(--color-card);
	border: 1px solid var(--color-border);

	flex-shrink: 0;
}

.header-icon {
	position: relative;
	width: 14px;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
	margin-left: 1px;
}

.header-icon>div,
.header-icon::after,
.header-icon::before {
	content: "";
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--color-primary);
	box-shadow: 0 0 5px color-mix(in srgb, var(--color-primary), transparent 60%);
	transform: translateZ(0);
	will-change: transform;
}

.header-icon::after {
	right: 0;
}

.header-icon>div {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.login {
	position: fixed;
	inset: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.login-button {
	background: radial-gradient(circle at 0% 0%, #acacff, var(--color-primary) 30%, #7070ff 100%);
	box-shadow: 0 0 10px color-mix(in srgb, var(--color-primary), transparent 70%);

	display: flex;
	align-items: center;
	justify-content: center;

	height: 56px;
	width: 100%;
	border-radius: 10px;

	color: #000;

	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.075ch;

	cursor: not-allowed;
	-webkit-tap-highlight-color: transparent;
}

.segmented-control-tab-list {
	display: flex;
	position: relative;
	padding: 6px;
}

.segmented-control-tab-item {
	flex: 1;
	padding: 8px 0;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.075ch;
	text-align: center;
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
	color: var(--text-dim);
}

.segmented-control-tab-item.active {
	color: var(--color-primary);
}

.segmented-control-active-indicator {
	position: absolute;
	inset: 0;
	z-index: 1;
	border-radius: 6px !important;
}

.action-button-primary {
	background-color: color-mix(in srgb, var(--color-primary), 95% transparent);
	border: 1px solid color-mix(in srgb, var(--color-primary), 50% transparent);
	box-shadow: 0 0 10px color-mix(in srgb, var(--color-primary), 90% transparent);
	color: var(--color-primary);
	border-radius: 5px;
}

.slider-container {
	width: 100%;
	position: relative;
	transition: 150ms ease;
}

.slider-track {
	border-radius: 100px;
	border: 1px solid var(--color-border);
	display: flex;
	align-items: center;
	padding: 8px;
	position: relative;
	overflow: hidden;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
}

.slider-handle {
	background-color: var(--color-card);
	border: 1px solid var(--color-border);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: grab;
	z-index: 2;
	touch-action: none;
}

.slider-text {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	color: var(--text-dim);
	font-size: 14;
	font-weight: 600;
	pointer-events: none;
}

.system-prompt-container {
	position: fixed;
	inset: 0;
	background-color: color-mix(in srgb, var(--color-bg), transparent 20%);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.system-prompt-container>div {
	width: 100%;
	gap: 12px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.system-prompt-container .alert-icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 5px;
}

.system-prompt-container .alert-icon-container>* {
	stroke-width: 1.5px;
	height: 20px;
	width: 20px;
}

.system-prompt-container .header {
	font-size: 16px;
	font-weight: 700;
	padding-inline: 20px;
}

.system-prompt-container .content {
	margin-top: -7px;
	color: var(--text-dim);
	font-size: 11px;
	text-align: center;
	padding-inline: 20px;
	margin-bottom: 10px;
	width: 100%;
}
