body {
	--color-text: rgba(220, 220, 255, 1);
	--color-primary: rgba(143, 150, 255, 1);
	--color-error: #ff6e84;
	--color-neutral: rgba(100, 116, 139, 1);
	--color-border: rgba(53, 53, 63, 0.25);
	--color-border-strong: rgba(53, 53, 63, 0.8);
	--box-shadow: 0 0 10px #0008;
	--color-dark: rgba(0, 0, 0, 0.3);
	--text-dim: color-mix(in srgb, var(--color-text), rgba(0, 0, 0, 1) 40%);
	--color-bg: #0d0d0e;
	--color-yellow: rgba(255, 242, 157, 1);

	--font-main: 'Manrope Variable', 'Manrope', -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji';
	font-family: var(--font-main);

	color: var(--color-text);
	background-color: #0d0d0e;

	background-image:
		url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='-5 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='1' fill='white' fill-opacity='0.075'/%3E%3C/svg%3E"),
		radial-gradient(circle at 20% 80%, hsla(280, 40%, 40%, 0.20), transparent 40%),
		radial-gradient(circle at 70% 65%, hsla(240, 100%, 77%, 0.10), transparent 30%),
		radial-gradient(circle at 30% 40%, hsla(280, 40%, 40%, 0.20), transparent 35%),
		radial-gradient(circle at 75% 25%, hsla(240, 100%, 77%, 0.10), transparent 30%);
	background-attachment: fixed;
	background-repeat: repeat, no-repeat, no-repeat, no-repeat;
	position: fixed;
	inset: 0;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


h1 {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;

	font-size: 15px;
	font-weight: 900;
	letter-spacing: 0.130ch;

	margin-bottom: -5px;
	gap: 2px;
}

h2 {
	color: var(--text-dim);
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0.06ch;
	margin: 0;
	padding: 0;

	margin-top: 2px;
}

.splash-screen {
	position: fixed;
	inset: 0;
	z-index: 100;

	color: var(--color-primary);
	font-family: var(--font-main);
	font-size: 30px;
	font-weight: 800;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0 0 20px color-mix(in srgb, var(--color-primary), transparent 50%);
}

.splash-screen>div {
	transform: translateY(-50%);
}

.custom-button {
	--bg-active: radial-gradient(circle at 0% 0%, #acacff, var(--color-primary) 30%, #7070ff 100%);
	--shadow: color-mix(in srgb, var(--color-primary), transparent 70%);

	position: relative;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0 15px;
	width: 200px;
	margin-top: 10px;
	height: 56px;

	border-radius: 10px;
	border: 1px solid transparent;

	background-color: rgba(0, 0, 0, 0.1);
	color: var(--text-dim);

	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.075ch;

	cursor: not-allowed;
	transition: 0.3s ease;
	-webkit-tap-highlight-color: transparent;

	flex-shrink: 0;
}

.custom-button:active {
	transform: scale(0.9);
}

.custom-button::before {
	content: "";
	position: absolute;

	inset: 0;

	background: var(--bg-active);
	opacity: 0;

	z-index: 0;
	transition: 0.3s ease;
}

.custom-button span {
	position: relative;
	z-index: 1;
}

.custom-button.active {
	color: #000;
	border-color: transparent;

	cursor: pointer;
}

.custom-button.active::before {
	opacity: 1;
}

.custom-button.active {
	z-index: 100;
	box-shadow: 0 0 10px var(--shadow);
}

.app-container-inner {
	position: fixed;
	inset: 0;
}

.swiper-wrapper {
	display: flex;
	transition-property: transform;
}

.swiper-container {
	position: relative;
	width: 100%;
	display: flex;
}

.swiper-slide {
	display: flex;
	flex-direction: column;
	height: calc(100dvh - 35px);
	padding: 20px;
	gap: 10px;
	flex-shrink: 0;
	position: relative;

	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

.paginator-display {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

.paginator-display>div {
	width: 30px;
	height: 4px;
	border-radius: 200px;
}

.blur {
	--blur: 20px;
	background-color: rgba(32, 32, 36, 0.30);
	backdrop-filter: blur(var(--blur));
	-webkit-backdrop-filter: blur(var(--blur));
	border: 1px solid var(--color-border);
	box-shadow: var(--box-shadow);
}

.card {
	display: flex;
	flex-direction: column;

	flex: 0 1 auto;

	padding: 15px;
	border-radius: 20px;

	max-height: 100%;
	min-height: 0;
}

.card-content {
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	min-height: 0;

	gap: 5px;
	margin-top: 5px;
	border-radius: 10px;
}

.header-row {
	display: flex;
	align-items: center;
}

.settings-icon {
	position: absolute;
	right: 0;
	height: 35px;
	width: 35px;
	transform: translateX(25%);

	display: flex;
	align-items: center;
	justify-content: center;

	margin-left: auto;

	border-radius: 50%;
	border: 1px solid transparent;
	color: var(--text-dim);

	font-size: 23px;
	z-index: 3;
}

.login {
	position: fixed;
	inset: 0;
	height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;

	font-weight: 400;
}

.segmented-control-tab-list {
	display: flex;
	position: relative;
	padding: 6px;
	background-color: var(--color-dark);
	border-radius: 10px;
}

.segmented-control-tab-item {
	flex: 1;
	padding: 5px 0;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: color 0.2s ease;
	-webkit-tap-highlight-color: transparent;
}

.segmented-control-tab-item.active {
	color: var(--color-primary);
}

.segmented-control-active-indicator {
	position: absolute;
	inset: 0;
	background-color: color-mix(in srgb, var(--color-primary), transparent 90%);
	border-radius: 10px;
	border: 1px solid color-mix(in srgb, var(--color-primary), transparent 80%);
	z-index: 1;
	box-shadow: 0 0 4px color-mix(in srgb, var(--color-primary), transparent 80%);
}
